<!-- templates/posts/group_list.html -->
<!DOCTYPE html> 
{% extends 'base.html' %}
{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %}  
{% block content %}
  <div class="container col-9">
    <h2>{{ group.title }}</h2>
    <h3>{{ group.description|linebreaks }}</h3>
  </div>
  <div class="container">
  {% for post in posts %}
    <article>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>  
    <p>{{ post.text }}</p>
    <article/>
    {% if not forloop.last %}<hr>{% endif %}  
  {% endfor %}
  </div>  
{% endblock %} 